{% extends 'base.html' %}
{% load crispy_forms_tags %}
  {% block body %}
    <!-- <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
       <h2 class="account-heading">{{ user.username }}</h2>
        <div class="container form-group"><style>.container{height: 600px; width: 300px; background:#ccffe6;}</style>
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary offset-lg-2 col-lg-8  mb-3 ">Update Profile</button><br>
            </form>
        </div> -->

  {% endblock %}